<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Lançar nota</title>
</head>

<body>

    <div class="container">
        <h3>Lançar nota</h3>
        <form th:action="@{/avaliacoes/save}" th:object="${avaliacao}" method="post">
            <div class="form-group">
                <label for="alunos">Aluno:</label>
                <select name="alunoCurso.aluno.id" id="alunos" class="form-control">
                    <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="cursos">Curso:</label>
                <select name="alunoCurso.curso.id" id="cursos" class="form-control">
                    <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="conceito">Conceito:</label>
                <input th:field="*{conceito}" id="conceito" class="form-control" type="text" placeholder="Exemplo: B"></input>
            </div>

            <div class="form-group">
                <input id="enviar" class="btn btn-primary" type="submit" value="Salvar"></input>
            </div>
        </form>
    </div>

</body>

</html>